body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for navigation bar */
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brand-name {
    flex-grow: 1; /* This allows the brand name to take up the remaining space and be centered */
    text-align: center;
}

.brand-name h1 {
    margin: 0;
    font-size: 20px; /* Adjust the font size as needed */
}

/* Add animation styles for the nav links */
.nav-links li {
    position: relative;
}

.nav-links li a i {
    position: absolute;
    left: -20px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-links li:hover a i {
    opacity: 1;
    transform: translateX(0);
}

.logo img {
    max-height: 40px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-button {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 300px;
    margin: 10px;
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
    color: #333;
}

.product-card p.price {
    font-weight: bold;
    color: #4caf50;
}

.product-card button {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}
